/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0E6531 !important;
  }

.mat-primary {
    stroke: #0E6531 !important;
}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: inherit;
}